In [1]:
%load_ext autoreload
%autoreload 2

In [21]:
# read csv into df
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from constants import *
from glob import glob
from datetime import datetime
import os


df = pd.DataFrame(columns=['datum', "location_id", "pretocnost"])

location_dict = {
    "kum": 0,
    "lovrenška_jezera": 1,
    "osp": 2,
    "storžič": 3,
    "triglavski_narodni_park": 4,
    "vršič": 5,
}

for path in glob(DATA_GLOB_PLANINSKE_MAKRO_ALL):
    print(path)

    # get file name without extension and path
    file_name = os.path.basename(path).split('.')[0].lower().replace(" ", "_")
    if file_name == "zdruzeno":
        continue
    
    # file_name = path.split('/')[-1].split('.')[0].replace(" ", "_").lower()
    assert file_name in location_dict.keys(), f"file_name = {file_name}"
    print(file_name)
    location_id = location_dict[file_name]

    df_planine = pd.read_csv(path, sep=',', encoding='UTF-8')
    assert df_planine.columns[0] == 'datum', f"columns[0] = {df_planine.columns[0]}"
    assert df_planine.columns[1] == 'vhodi', f"columns[1] = {df_planine.columns[1]}"
    assert df_planine.columns[2] == 'izhodi', f"columns[2] = {df_planine.columns[2]}"
    
    # sum vhodi and izhodi
    df_planine['pretocnost'] = df_planine['vhodi'] + df_planine['izhodi']
    # drop "vhodi" and "izhodi" columns
    df_planine = df_planine.drop(columns=['vhodi', 'izhodi'])

    # add "location_id" column
    df_planine['location_id'] = location_id

    df = pd.concat([df, df_planine], ignore_index=True)

    # sum vhodi and izhodi based on "datum_dan"
    # df_planine = df_planine.groupby('datum').sum()
    print(df_planine.head())

    
    # break

df = df.sort_values(by=['datum', 'location_id'])
print(df.head())

df.to_csv(OUT_PLANINSTVO, index=False)

../data/planinstvo/2024\Kum.csv
kum
        datum  pretocnost  location_id
0  2022-06-20           3            0
1  2022-06-21          24            0
2  2022-06-22           3            0
3  2022-06-23           5            0
4  2022-06-24           8            0
../data/planinstvo/2024\Lovrenška jezera.csv
lovrenška_jezera
        datum  pretocnost  location_id
0  2022-06-27         318            1
1  2022-06-28          66            1
2  2022-06-29         214            1
3  2022-06-30         288            1
4  2022-07-01         379            1
../data/planinstvo/2024\Osp.csv
osp
        datum  pretocnost  location_id
0  2022-06-15          46            2
1  2022-06-16          60            2
2  2022-06-17          79            2
3  2022-06-18          62            2
4  2022-06-19          40            2
../data/planinstvo/2024\Storžič.csv
storžič
        datum  pretocnost  location_id
0  2022-07-19          72            3
1  2022-07-20         144            3
2  2022-07-21         253            3
3  2022-07-22         368            3
4  2022-07-23         449            3
../data/planinstvo/2024\Triglavski narodni park.csv
triglavski_narodni_park
        datum  pretocnost  location_id
0  2022-06-01        1288            4
1  2022-06-02         743            4
2  2022-06-03        1128            4
3  2022-06-04        2488            4
4  2022-06-05        2466            4
../data/planinstvo/2024\Vršič.csv
vršič
        datum  pretocnost  location_id
0  2022-07-15         352            5
1  2022-07-16         677            5
2  2022-07-17        1565            5
3  2022-07-18         954            5
4  2022-07-19        1016            5
../data/planinstvo/2024\zdruzeno.csv
           datum location_id pretocnost
2251  2022-06-01           4       1288
2252  2022-06-02           4        743
2253  2022-06-03           4       1128
2254  2022-06-04           4       2488
2255  2022-06-05           4       2466

## Add day of week to the data

In [22]:
import datetime

# convert datum to day of the week number with Monday=0, Sunday=6
df['datum'] = pd.to_datetime(df['datum'])
df['day_of_week'] = df['datum'].dt.dayofweek

# 

print(df.head())

          datum location_id pretocnost  day_of_week
2251 2022-06-01           4       1288            2
2252 2022-06-02           4        743            3
2253 2022-06-03           4       1128            4
2254 2022-06-04           4       2488            5
2255 2022-06-05           4       2466            6

## Add is holiday to the data

In [42]:
df_prazniki = pd.read_csv(OUT_PRAZNIKI)

# based on datum column from df add "praznik" column from df_prazniki. join based on "datum" column that is only the date without time
df_prazniki['datum'] = pd.to_datetime(df_prazniki['datum'])
df['datum'] = pd.to_datetime(df['datum'])
df_prazniki['datum'] = df_prazniki['datum'].dt.date
df['datum'] = df['datum'].dt.date
df_new = pd.merge(df, df_prazniki, on='datum', how='left') 

# fill NaN values in "dela_prost_dan" column with False
df_new['dela_prost_dan'] = df_new['dela_prost_dan'].fillna(False)
df_new

           datum location_id pretocnost  day_of_week  dela_prost_dan
0     2022-06-01           4       1288            2           False
1     2022-06-02           4        743            3           False
2     2022-06-03           4       1128            4           False
3     2022-06-04           4       2488            5           False
4     2022-06-05           4       2466            6            True
...          ...         ...        ...          ...             ...
2857  2024-03-29           5          0            4           False
2858  2024-03-30           0          0            5           False
2859  2024-03-30           1         30            5           False
2860  2024-03-30           2          0            5           False
2861  2024-03-30           5          0            5           False

[2862 rows x 5 columns]

In [46]:
# sort by "location_id" and "datum"
df_new = df_new.sort_values(by=['location_id', 'datum'])

In [49]:
# todo: add moving average

,datum,location_id,pretocnost,day_of_week,dela_prost_dan,7_day_moving_avg,7_day_moving_average
24,2022-06-20,0,3,0,False,3.00,NaN
27,2022-06-21,0,24,1,False,13.50,NaN
30,2022-06-22,0,3,2,False,10.00,NaN
33,2022-06-23,0,5,3,False,8.75,NaN
36,2022-06-24,0,8,4,False,8.60,NaN
...,...,...,...,...,...,...,...
2845,2024-03-26,5,0,1,False,0.00,0.0
2849,2024-03-27,5,0,2,False,0.00,0.0
2853,2024-03-28,5,0,3,False,0.00,0.0
2857,2024-03-29,5,0,4,False,0.00,0.0
2861,2024-03-30,5,0,5,False,0.00,0.0

In [44]:
# split data to train (2022 and 2023) and test (2024)
df_train = df_new[df_new['datum'] < datetime.date(2024, 1, 1)]
df_test = df_new[df_new['datum'] >= datetime.date(2024, 1, 1)]

df_test

           datum location_id pretocnost  day_of_week  dela_prost_dan
2545  2024-01-01           0         28            0            True
2546  2024-01-01           1        254            0            True
2547  2024-01-01           2         68            0            True
2548  2024-01-01           5          0            0            True
2549  2024-01-02           0        375            1            True
...          ...         ...        ...          ...             ...
2857  2024-03-29           5          0            4           False
2858  2024-03-30           0          0            5           False
2859  2024-03-30           1         30            5           False
2860  2024-03-30           2          0            5           False
2861  2024-03-30           5          0            5           False

[317 rows x 5 columns]